* {
	padding: 0;
	margin: 0;
}
.left {
	float: left;
}
.mid{
	display: inline-block;
	margin: 0 auto;
}
.right {
	float: right;
}
.center {
	padding: 10px;
	text-align: center;
}
.Vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*----  Header  -----------*/
.Header {
	position: relative;
	padding: 10px 7%;
	height: 60px;
	background: #ece5c7;
	color: #230d56;
}
.Header h1 {
	margin-top: 10px;
}

li {
	font-size: 20px;
	display: inline;
	margin-left: 30px;
	text-shadow: 1px 1px 1px #4d4c7d;
}
h2 {
	background-color: #ece5c7;
	color: #462591;
}

a,
a:visited {
	text-decoration: none;
	color: #462591;
}

li a:hover {
	text-shadow: 1px 1px #fefefe;
}
/*----  Header  -----------*/

/*----  Body  -----------*/
.container {
	width: 100%;
	padding: 0.1px;
	background: url("../img/background.jpg") no-repeat center;
	background-size: cover;
	background-color: #dad8d8;
}

.website {
	font-weight: bold;
	background-color: #fefefe;
	padding: 10px;
	text-align: center;
}

.ticket{
	background-color: #fefefe;
	opacity: 0.7;
	width: 10%;
	margin-right: 4%;
	height: 270px;
}

#footer {
	padding: 20px 0 20px 0;
	text-align: center;
	background: #ece5c7;
}

/*--------Form BOX------------------------------*/
.box {
	width: 50%;
	height: auto;
	margin: 5% auto;
}
.form {
	height: auto;
	background-color: #fefefe;
	opacity: 0.9;
}
.about-items {
	width: 90%;
	height: auto;
	border: 2px #ece5c7 solid;
	margin: 30px auto;
	font-size: 20px;
}
.pro-items {
	width: 90%;
	height: auto;
	border: 2px #ece5c7 solid;
	margin: 30px auto;
	font-size: 20px;
	color: #462591;
	cursor: pointer;
}
.pro-items:hover{
	background-color: #ece5c7;
}

.req_item {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.inputs {
	width: 90%;
	height: 20px;
	font-size: 0.6em;
}

#Message {
	color: #d43232;
	font-size: 20px;
}
.btn {
	background-color: #f3f1e5;
	border: 2px #ece5c7 solid;
	width: 120px;
	height: 35px;
	margin: 5%;
	cursor: pointer;
	border-radius: 20px;
}
.btn:hover{
	background-color: #ece5c7;
}

.g-recaptcha{
	margin-left:20px ;	
}

.popup{
	width: 600px;
	background-color: #cbbd7f;
	color: #fefefe;
	border-radius: 10px;
	padding: 25px;
	visibility: hidden;
	position: absolute;
    top: 40%;
    left: 28.5%;
}
.open-popup{
	visibility: visible;
}

.popup h3{
	font-size: 30px;
	font-weight: bold;
	margin: 10px 0 20px 0;
	border: 1px solid #fefefe;
	border-radius: 10px;
}
.popup button{
	width: 100%;
	font-size: 15px;
	margin-top: 30px;
	padding: 10px 0;
	background-color: #f3f1e5;
	border: 2px #ece5c7 solid;
	height: 35px;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
}